{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "__DEV__": true,
    "__NAV__": true
  },
  "plugins": ["react", "import"],
  "rules": {
    "comma-dangle": 0, # 忽略结尾逗号
    "no-console": 0,
    "id-length": 0,
    "semi": [2, "never"],
    "no-param-reassign": [2, { "props": false }], # 参数不可修改，属性可修改
    "no-underscore-dangle": 0,                    # 允许 _
    "global-require": 0,                          # 允许 require
    "import/no-unresolved": [2, { ignore: ['\.(png || jpg || gif)$'] }] # 忽略 require 图片的错误
  }
}
